@model List<TestApp.Models.Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>Employee Information</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
        </tr>
    </thead>
    @foreach (var employee in Model)
    {
        <tr>
            <td scope="row">@employee.id</td>
            <td scope="row">@employee.Name</td>
            <td scope="row">@employee.Email</td>
            <td scope="row">@employee.Gender</td>
        </tr>
    }

</table>